@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
#root {
  min-height: 100vh;
}

.sidebar img {
  width: 20px;
}

.chat-container .greet span {
  background-image: linear-gradient(16deg, #4b90ff, #ff5546);
  background: --webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chat-container .cards {
  // border: 1px solid;
  
}
